{
    "presets": [
        "next/babel",
        "@zeit/next-typescript/babel"
    ],
    "plugins": [
        ["module-resolver", {
            "root": [
                "."
            ],
            "alias": {
                "shared-components": "./shared-components",
                "page-components": "./page-components"
            }
        }],
        "emotion"
    ]
}